.app {
  margin: auto;
  background: #f3f7fa;
  padding: 50px 0;
  font-family: 'Open Sans', sans-serif;

  @media (max-width: 476px) {
    padding: 12px;
  }
}

.flexbox {
  display: flex;
  flex-flow: row;
  justify-content: center;

  @media (max-width: 476px) {
    flex-flow: column;
  }
}
