.wrapper {
  display: flex;
  flex-flow: column;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.group {
  display: flex;
  flex-flow: column;
}
