.menu {
  position: sticky;
  top: 20px;
  display: flex;
  align-content: space-around;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  min-width: 420px;

  @media (max-width: 476px) {
    top: 190px;
    min-width: unset;
  }

  button {
    cursor: pointer;
    flex: 1 0 50%;
    margin: 0;
    border: none;
    outline: none;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;

    &:first-of-type {
      border-radius: 5px 0 0 5px;
    }

    &:last-of-type {
      border-radius: 0 5px 5px 0;
    }
  }
}

.item {
  color: inherit;
  background: inherit;
}

.itemSelected {
  color: white;
  background: #2196f3;
}
