.app {
  background: #f3f7fa;
  min-height: 100vh;
  padding: 50px 0;
  font-family: 'Open Sans', sans-serif;

  @media (max-width: 476px) {
    padding: 12px 0;
  }
}

.cover {
  z-index: 3;
  background-color: #f3f7fa;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 64px;

  @media (max-width: 476px) {
    height: 224px;
  }
}

.logo-wrapper {
  z-index: 10;
  position: relative;
}

.main-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;

  @media (max-width: 476px) {
    flex-flow: column;
  }
}

.sub-wrapper {
  display: flex;
  flex-flow: column;
}
