.wrap {
	position: sticky;
	top: 245px;
	width: 206.4px;
	margin-top: 20px;
}
.wrapDatePick {
	position: sticky;
	top: 295px;
	width: 206.4px;
	margin-top: 20px;
}
.iconImg {
	width: 30px;
	height: 15px;
	margin: 5px;
}
