.wrapper {
  overflow: hidden;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  border: 2px dotted;
}

.loader {
  border: 1px solid;
  width: 80%;
}

.error {
  width: 80%;
  margin: 24px auto;
  padding: 8px;
  border: 2px solid red;
  border-radius: 5px;
}
