.wrapper {
  width: fit-content;
  margin: 0 auto 50px;
  background: url(./Form.png) no-repeat center;
  background-size: 110%;

  @media (max-width: 476px) {
    margin-bottom: 12px;
  }
}

.logo {
  position: relative;
  bottom: 3px;
  left: 1px;
  transform: scale(0.85);
}
