.wrapper {
  width: fit-content;
  margin: 0 auto 50px;
  background: url(./Form.png) no-repeat center;
  background-size: 120%;
}

.logo {
  position: relative;
  bottom: 3px;
  left: 1px;
  transform: scale(0.9);
}
